/* Text */

@media (max-width: 1601px) {
    .text-1 {
        font-size: 30px;
    }
}

@media (max-width: 1114px) {
    .text-1 {
        font-size: 20px;
    }
}

@media (max-width: 801px) {
    .text-1 {
        font-size: 16px;
    }

    a > span {
        position: relative;
        right: 50%;
    }
}

@media (max-width: 601px) {
    .text-1 {
        font-size: 22px;
    }
}

@media (max-width: 401px) {
    .text-1 {
        font-size: 15px;
    }
}

@media (max-width: 201px) {
    .text-1 {
        font-size: 10px;
    }
}